spring:
  application:
    name: filmflix
  datasource:
    url: jdbc:h2:mem:moviedb
    driverClassName: org.h2.Driver
    username: sa
    password:
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect

server:
  port: 8081
  servlet:
    context-path: /filmflix

filmflix:
